<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="std" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="INFO" />
        </filter>
    </appender>

    <appender name="file" class="org.apache.log4j.FileAppender">
        <param name="file" value="${user.dir}/validation_result_${current.timestamp}.md"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="DEBUG" />
            <param name="levelMax" value="DEBUG" />
        </filter>
    </appender>

    <logger name="cn.yyz.nospa.validator" additivity="false">
        <level value="debug"/>
        <appender-ref ref="std" />
        <appender-ref ref="file" />
    </logger>

    <root>
        <level value="off" />
    </root>

</log4j:configuration>